.popup__input_type_job {
  padding: 0 0 13.26px;
  margin: 29.74px 0 48px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
}

@media screen and (max-width: 980px) {
  .popup__input_type_job {
    width: 100%;
    padding: 0;
  }
}
